[Unit]
Description=Sausage-store

[Service]
User=jarservice
WorkingDirectory=/home/jarservice
StandardError=file:/logs/out-back-error.log
StandardOutput=file:/logs/out.log
Restart=always
ExecStart=/usr/bin/java -jar '/home/jarservice/sausage-store.jar' \
--spring.datasource.url=jdbc:postgresql://@env.PSQL_HOST@:@env.PSQL_PORT@/@env.PSQL_DBNAME@ \
--spring.datasource.username=@env.PSQL_USER@ \
--spring.datasource.password=@env.PSQL_PASSWORD@
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
 
