[Unit]
Description=Sausage-store

[Service]
User=jarservice
WorkingDirectory=/home/jarservice
Environment=REPORT_PATH=/logs/reports
Environment=LOG_PATH=/logs
StandardOutput=file:/logs/out.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' 
--spring.datasource.url=jdbc:postgresql://rc1b-txenjeot0qbcbnh3.mdb.yandexcloud.net:6432/std-013-60
--spring.datasource.username=std-013-60 
--spring.datasource.password=Testusr1234 
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
 
